#---------------------------------
# Directories
#---------------------------------
**/node_modules/
bin/
tmp/
.tmp/
functions/

#---------------------------------
# Secrets
#---------------------------------



#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#---------------------------------
# IDEs + Editors
#---------------------------------
.idea/
.project
*.iml
*.sublime-workspace


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db


#---------------------------------
# The buildtools folder is just way too large
#---------------------------------
buildtools/*
!buildtools/README.md